h1{
    background-color: rgb(175, 112, 53);
    color: blue;
    text-align: center;
}
h2{
    background-color: rgb(53, 175, 53);
}
h3{
    background-color: crimson;
}
.bird{
    color: pink;
}
img{
    border: solid 50px rgb(30, 255, 0);
    border-radius: 2%;
}
